<%- include ('partials/_header')  %>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Número</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data) { %>
                        <% for (let i = 0; i < data.length; i++) { %>
                            <tr>
                                <td><%= (i + 1) %></td>
                                <td><%= data[i].name %></td>
                                <td><%= data[i].address %></td>
                                <td><%= data[i].phone %></td>
                                <td>
                                    <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Eliminar</a>
                                </td>
                            </tr>    
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="name" id="name" placeholder="Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="address" id="address" placeholder="Address" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="phone" id="phone" placeholder="Phone" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Save customer
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ('partials/_footer')  %>